# Build Folders
bin/
obj/

# Visual Studio Files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# IDE-specific files
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp

# Others
*.db
*.pdb
*.mdb
*.bak